services:
  minio:
    image: minio/minio:latest
    ports:
      - "9000:9000" # API port
      - "9001:9001" # Console port
    volumes:
      - minio_data:/data
      - ./config:/root/.minio
    command: server /data --console-address ":9001"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
    networks:
      - proxy-net
    env_file:
      - ../.env

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf.template:/etc/nginx/templates/default.conf.template:ro
    restart: unless-stopped
    networks:
      - proxy-net
    env_file:
      - ../.env

  spring:
    build:
      context: .
    ports:
      - "8080:8080"
    networks:
      - proxy-net
    env_file:
      - ../.env

volumes:
  minio_data:

networks:
  proxy-net:
    driver: bridge
